<div class="container py-5">
  <section>
    <div class="card">
      <div class="card-body" style="position: relative; overflow: hidden;">
        <section>
          <div>
            <div class="sidenav-inner"><!---->
              <nav mdbscrollbar="" class="sidenav show ps sidenav-primary ng-star-inserted shadow"
                   style="width: 240px; height: 100%; position: absolute; transition: all 0.3s linear 0s;">
                <div class="p-3 ng-star-inserted"><input type="search"
                                                         placeholder="Search" aria-label="Search"
                                                         aria-describedby="search-addon"
                                                         class="form-control rounded"></div>
                <ul class="sidenav-menu ng-star-inserted">
                  <div>
                    <li class="sidenav-item">
                      <div><a href="" class="sidenav-link"><img
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                        alt="" class="rounded-circle me-2"
                        style="width: 30px; height: 30px;"><span
                        class="d-block">Anna Doe</span></a></div>
                    </li>
                  </div>
                  <div>
                    <li class="sidenav-item">
                      <div><a href="" class="sidenav-link"><img
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
                        alt="" class="rounded-circle me-2"
                        style="width: 30px; height: 30px;"><span
                        class="d-block">Alan Turing</span></a></div>
                    </li>
                  </div>
                  <div>
                    <li class="sidenav-item">
                      <div><a href="" class="sidenav-link"><img
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg"
                        alt="" class="rounded-circle me-2"
                        style="width: 30px; height: 30px;"><span
                        class="d-block">Veronica Smith</span></a></div>
                    </li>
                  </div>
                  <div>
                    <li class="sidenav-item">
                      <div><a href="" class="sidenav-link"><img
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
                        alt="" class="rounded-circle me-2"
                        style="width: 30px; height: 30px;"><span
                        class="d-block">Tom Johnson</span></a></div>
                    </li>
                  </div>
                </ul><!---->
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                  <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                  <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                </div>
              </nav><!----><!----><!----></div>
            <div>
              <div style="padding-left: 240px; margin-right: 0px; transition: all 0s ease 0s;">
                <section class="inner-content mt-3 ml-3">
                  <div class="d-flex">
                    <button aria-controls="#sidenav-inner" aria-haspopup="true"
                            class="btn shadow-0 p-0 me-3 d-block d-lg-none"><i
                      class="fas fa-bars fa-lg"></i></button>
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg" alt=""
                         class="rounded-circle me-2" style="width: 30px; height: 30px;"><span>Anna Doe</span>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-start w-100"><img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                    alt=""
                    class="rounded-circle me-2"
                    style="width: 30px; height: 30px;">
                    <p class="p-3 bg-light rounded-lg shadow-1 shadow-1"
                       style="max-width: 533px;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                      praesentium ad, dolores quaerat maxime architecto dolore, necessitatibus rem possimus quam ratione
                      sit neque quidem officia dolorum nostrum enim dignissimos eum. <small
                        class="float-right text-dark mt-4">14:52</small>
                    </p></div>
                  <div class="d-flex justify-content-end ms-auto"><p
                    class="p-3 bg-primary shadow-1-strong text-white rounded-lg"
                    style="max-width: 533px;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium ad, dolores quaerat
                    maxime architecto dolore, necessitatibus rem possimus quam ratione sit neque quidem officia dolorum
                    nostrum enim dignissimos eum. <small class="float-right mt-4">14:53</small>
                  </p><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" alt=""
                           class="rounded-circle ms-2" style="width: 30px; height: 30px;"></div>
                  <div class="d-flex justify-content-start w-100"><img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                    alt=""
                    class="rounded-circle me-2"
                    style="width: 30px; height: 30px;">
                    <p class="p-3 bg-light rounded-lg shadow-1" style="max-width: 533px;"> Lorem,
                      ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium ad, dolores quaerat maxime
                      architecto dolore. <small class="float-right text-dark mt-4">14:54</small>
                    </p></div>
                  <div class="d-flex justify-content-end ms-auto"><p
                    class="p-3 bg-primary shadow-1-strong text-white rounded-lg"
                    style="max-width: 533px;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illo accusantium quibusdam quidem veniam
                    inventore, libero distinctio eaque, qui molestiae architecto aspernatur. Praesentium natus maxime
                    suscipit dolorem delectus, doloremque reprehenderit numquam distinctio quas repudiandae veritatis
                    incidunt quo, consequatur quod laborum laboriosam. Quos ducimus, ad veritatis illo minus molestiae
                    omnis pariatur. <small class="float-right mt-4">14:55</small></p><img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" alt=""
                    class="rounded-circle ms-2" style="width: 30px; height: 30px;"></div>
                  <div class="d-flex justify-content-start w-100"><img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                    alt=""
                    class="rounded-circle me-2"
                    style="width: 30px; height: 30px;">
                    <p class="p-3 bg-light rounded-lg shadow-1" style="max-width: 533px;"> Lorem,
                      ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium ad, dolores quaerat maxime
                      architecto dolore, necessitatibus rem possimus quam ratione sit neque quidem officia dolorum
                      nostrum enim dignissimos eum. <small class="float-right text-dark mt-4">14:52</small>
                    </p></div>
                  <div class="d-flex justify-content-end ms-auto"><p
                    class="p-3 bg-primary shadow-1-strong text-white rounded-lg"
                    style="max-width: 533px;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium ad, dolores quaerat
                    maxime architecto dolore, necessitatibus rem possimus quam ratione sit neque quidem officia dolorum
                    nostrum enim dignissimos eum. <small class="float-right mt-4">14:53</small>
                  </p><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" alt=""
                           class="rounded-circle ms-2" style="width: 30px; height: 30px;"></div>
                  <div class="d-flex justify-content-start w-100"><img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                    alt=""
                    class="rounded-circle me-2"
                    style="width: 30px; height: 30px;">
                    <p class="p-3 bg-light rounded-lg shadow-1" style="max-width: 533px;"> Lorem,
                      ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium ad, dolores quaerat maxime
                      architecto dolore. <small class="float-right text-dark mt-4">14:54</small>
                    </p></div>
                  <div class="d-flex justify-content-end ms-auto"><p
                    class="p-3 bg-primary shadow-1-strong text-white rounded-lg"
                    style="max-width: 533px;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illo accusantium quibusdam quidem veniam
                    inventore, libero distinctio eaque, qui molestiae architecto aspernatur. Praesentium natus maxime
                    suscipit dolorem delectus, doloremque reprehenderit numquam distinctio quas repudiandae veritatis
                    incidunt quo, consequatur quod laborum laboriosam. Quos ducimus, ad veritatis illo minus molestiae
                    omnis pariatur. <small class="float-right mt-4">14:55</small></p><img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" alt=""
                    class="rounded-circle ms-2" style="width: 30px; height: 30px;"></div>
                </section>
              </div>
            </div><!----></div>
        </section>
      </div>
    </div>
  </section>
</div>
