version: '2'
services:
  db:
    image: mysql:8.0.29-oracle
    environment:
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ALLOW_EMPTY_PASSWORD: false
      MYSQL_RANDOM_ROOT_PASSWORD: false

  backend:
    build: backend/.
    ports: 
      - "8080:8080"
    depends_on:
      - db
  frontend:
    build: frontend/.
    ports: 
      - "80:80"
    depends_on: 
      - backend