<div class="container p-3">
  <form class="d-flex flex-column">
    <select class="form-control mb-2" aria-label="Виберіть поштовий клієнт" name="client"
            [(ngModel)]="selectedConfig.client" required>
      <option value="" disabled selected >Виберіть поштовий клієнт</option>
      <option value="GMAIL" disabled>gmail</option>
      <option value="OUTLOOK">outlook</option>
    </select>
    <mdb-form-control class="mb-2">
      <input mdbInput type="email" id="name" class="form-control" name="name"
             [(ngModel)]="selectedConfig.name"/>
      <label mdbLabel class="form-label" for="email">Назва</label>
    </mdb-form-control>
    <mdb-form-control class="mb-2">
      <input mdbInput type="email" id="email" class="form-control" name="email"
             [(ngModel)]="selectedConfig.email"/>
      <label mdbLabel class="form-label" for="email">Електронна пошта</label>
    </mdb-form-control>
    <mdb-form-control class="mb-2">
      <input mdbInput type="password" id="password" class="form-control" name="password"
             [(ngModel)]="selectedConfig.password"/>
      <label mdbLabel class="form-label" for="password">Пароль</label>
    </mdb-form-control>

    <button (click)="save()" class="btn btn-primary">Зберегти</button>
  </form>
</div>
